/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

/*MAIN COMPONENT START*/
* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 10px;
}
.nav-leftSide {
  display: flex;
  font-size: 3.5vmin;
}
.nav-middle-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  width: 60vmin;
  font-size: 2.25vmin;
}
.links {
  color: white;
}

.links:hover {
  color: lightgray;
}

.homePageLoginBtn {
  padding: 0.5vmin;
  width: 20vmin;
  font-size: 2.4vmin;
  border-radius: 5px;
  border: none;
}

.homePageLoginBtn:hover {
  cursor: pointer;
  background-color: lightgray;
}

footer {
  display: flex;
  background-color: #333333;
  color: #c0c0c0;
  justify-content: space-evenly;
  align-items: center;
  height: 23vh;
}

.footer-column {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 18vh;
  font-size: 2vmin;
}

.footer-column-name {
  text-align: center;
  font-size: 2.5vmin;
  border: solid lightgray 1px;
  padding: 0.5vmin;
  margin-top: 1vmin;
}

.footer-icon {
  width: 3vmin;
}

.footer-icon:hover {
  cursor: pointer;
}

/*MAIN COMPONENT END*/

/*MAP COMPONENT START*/
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 80vh;
}
.crime-info-hover {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin: 10px;
  height: 20vh;
}
.crime-info {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.zipCodeForm {
  margin-bottom: 2vh;
}
.mapView {
  margin-bottom: 10vmin;
  height: 75vmin;
  width: 75vmin;
}
/*MAP COMPONENT END*/

/*STATS COMPONENT START*/
.statsBody {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vmin;
  height: 30vh;
  width: 100%;
}
.statsForm {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40vmin;
  height: auto;
}

.selectCounty {
  width: 20vmin;
  text-align: center;
}
.inputLabel {
  margin-top: 2vmin;
}
button:hover {
  cursor: pointer;
}
.statsHeader {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 5vmin;
  margin-top: 2vmin;
}
.stateInput {
  width: 50%;
  height: 5vmin;
}
/*MAP COMPONENT END*/

/*BARCHART COMPONENT START*/
.barChart {
  width: 70vmin;
  height: auto;
}
/*BARCHART COMPONENT END*/

/*TEAM COMPONENT START*/
.teamBody {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 100%;
  font-size: 5vmin;
  background-color: lightgray;
  padding-top: 5vmin;
}

.profiles {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  margin-top: 5vmin;
}
.profileImg {
  width: 20vmin;
  border: solid black 3px;
}
.profileText {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 20vmin;
  font-size: 1.6vmin;
  font-family: monospace;
}
.profileImg-and-profileText {
  border: solid black 1px;
  padding: 1vmin;
  height: 50vmin;
}

/*TEAM COMPONENT END*/
