/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 10px;
}
.nav-leftSide {
  display: flex;
  font-size: 3.5vmin;
}
.nav-middle-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  width: 60vmin;
  font-size: 2.25vmin;
}
.links {
  text-decoration: none;
  color: white;
}

.links:hover {
  color: lightgray;
}
.homePageLoginBtn {
  padding: 0.5vmin;
  width: 20vmin;
  font-size: 2.4vmin;
  border-radius: 5px;
  border: white dotted 2px;
}
.homePageLoginBtn:hover {
  cursor: pointer;
  background-color: white;
  border: white solid 3px;
}
footer {
  display: flex;
  background-color: #333333;
  color: #c0c0c0;
  justify-content: space-evenly;
  align-items: center;
  height: 23vh;
}

.footer-column {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 18vh;
  font-size: 2vmin;
}

.footer-column-name {
  text-align: center;
  font-size: 2.5vmin;
  border: solid lightgray 1px;
  padding: 0.5vmin;
  margin-top: 1vmin;
}

.footer-icon {
  width: 3vmin;
}
.footer-icon:hover {
  cursor: pointer;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.campusImgs {
  width: 20vw;
  height: 20vh;
  border: 3px solid darkgray;
}
.allCampusesView {
  display: flex;
  margin-top: 0;
  margin-left: 20px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid rgb(148, 148, 148);
  width: 60vw;
  list-style: none;
  justify-content: space-evenly;
  margin-top: 0;
}

#allCampusesh2 {
  margin-left: 12vw;
  margin-top: 0;
  margin-bottom: 0;
}

.campusForm {
  display: flex;
  flex-direction: column;
  margin: 2em;
  height: 15em;
  width: 20em;
  border: 5px solid lightgray;
}
.campusNames {
  text-decoration: none;
  color: #333333;
}
.campush3s {
  margin-bottom: 2;
  height: 3px;
}
.campuses {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
}

#addCampusButton {
  margin-top: 20px;
}

#allStudentsh2 {
  margin-left: 12vw;
  margin-top: 0;
  margin-bottom: 0;
}
.allStudentsView {
  display: flex;
  margin-top: 0;
  margin-left: 20px;
}
.studentForm {
  display: flex;
  flex-direction: column;
  margin: 2em;
  height: 30em;
  width: 20em;
  border: 5px solid lightgray;
}
.students {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
}
.studentsImgs {
  margin-top: 0;
  width: 20vw;
  height: 20vh;
  border: 3px solid darkgray;
}
.studentsNames {
  text-decoration: none;
  color: #333333;
}
.studentsh3s {
  margin-bottom: 2;
  height: 3px;
}

.singleStudentView {
  display: flex;
}
.singleStudent {
  border: #a19d9d;
  margin-left: 10em;
}
.studentName {
  height: 8px;
}
.studentImg {
  height: 20em;
  width: 25em;
}
.studentEmail {
  margin-top: 2px;
  height: 6px;
}
.campuslink {
  text-decoration: none;
  color: #333333;
}
.campuslink:hover {
  text-decoration: none;
  color: #75614a;
}
.updateStudentForm {
  display: flex;
  flex-direction: column;
  margin: 2em;
  height: 30em;
  width: 20em;
  border: 5px solid lightgray;
}

.singleCampusView {
  display: flex;
  justify-content: space-evenly;
}
.singleCampus {
  border: #a19d9d;
  margin-left: 10em;
}
.singleCampusName {
  height: 8px;
}
.singleCampusImg {
  height: 20em;
  width: 25em;
  border: 3px solid darkgray;
}
.singleCampusAddress {
  margin-top: 2px;
  height: 6px;
}
.singleCampusDesc {
  width: 40vw;
  max-width: 425px;
}
.studentlink {
  text-decoration: none;
  color: #333333;
}
.studentlink:hover {
  text-decoration: none;
  color: #75614a;
}
.updateCampusForm {
  display: flex;
  flex-direction: column;
  margin: 2em;
  height: 30em;
  width: 20em;
  border: 5px solid lightgray;
}
.studentsOfCampus {
  border: 4px solid rgb(8, 8, 8);
  margin-left: 20vw;
  width: 25em;
}
.studentsOfCampusLi {
  display: flex;
  justify-content: space-between;
}
.stuh3 {
  margin-left: 20vw;
}
.unregisterButton {
  height: 30px;
  margin-left: 20px;
  margin-top: 15px;
}

.map-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 70vh;
}
.zipCodeForm {
  margin-bottom: 2vh;
}
