/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

/*MAIN COMPONENT START*/
* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

.navbar-brand {
  border: 5px solid black;
  padding-left: 20px;
  padding-right: 20px;
}
#panel {
  border: 3px red;
}
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

#Homepage {
  background-color: #000000;

  
}
.splashImage {
  background-color: #000000;
  width: 100%;
  height: 35vh;
}

#STATIC {
  display: flex;
  position: absolute;
  border: 15px #333333;
  justify-content: center;
  width: 20vw;
  top:180px;
  left: 200px
}


nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 10px;
}
.nav-leftSide {
  display: flex;
  font-size: 3.5vmin;
}
.nav-middle-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  width: 60vmin;
  font-size: 2.25vmin;
}

footer {
  display: flex;
  background-color: #333333;
  color: #c0c0c0;
  justify-content: space-evenly;
  align-items: center;
  height: 30vh;
}

.footer-column {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 18vh;
  font-size: 2vmin;
}

.footer-column-name {
  text-align: center;
  font-size: 2.5vmin;
  border: solid lightgray 1px;
  padding: 0.5vmin;
  margin-top: 1vmin;
}

.footer-icon {
  width: 3vmin;
}

.footer-icon:hover {
  cursor: pointer;
}

/*MAIN COMPONENT END*/

/*MAP COMPONENT START*/
.map {
  height: 90vh;
  margin-top: 50px;
}

.crime-info-hover {
  border: 2px solid rgb(242, 230, 191);
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 10px;
  max-height: 45vh;
}
.crime-info {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.zipCodeForm {
  margin-bottom: 2vh;
}
.mapView {
  margin-bottom: 0vmin;
  border: 10px solid black;
  height: 75vmin;
  width: 800px;
}
/*MAP COMPONENT END*/

/*STATS COMPONENT START*/
.gridBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45vmin;
  height: 45vmin;
  border: solid lightgray 1px;
  margin: 2vmin;
  padding: 1vmin;
}

.gridBox:hover {
  border: solid gray 1px;
}
.gridBoxHeader {
  margin-bottom: 2vmin;
  font-size: 3vmin;
  text-align: center;
}
.statsBody {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 100%;
}
.statsForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 40vmin;
  height: 20vmin;
}
.categoryInput {
  width: 30vmin;
  height: 3.5vmin;
  font-size: 2vmin;
  text-align: center;
}
.categoryInput:hover {
  cursor: pointer;
}
.button:hover {
  cursor: pointer;
  background-color: white;
}

.selectCounty {
  width: 20vmin;
  text-align: center;
}
.inputLabel {
  margin-top: 2vmin;
}
button:hover {
  cursor: pointer;
}
.statsHeader {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 5vmin;
  margin-top: 2vmin;
}
.stateInput {
  width: 50%;
  height: 5vmin;
}

/*STATS COMPONENT END*/

/*BARCHART COMPONENT START*/

.barChart {
  width: 70vw;
  height: auto;
  padding: 6vmin;
}

/*BARCHART COMPONENT END*/

/*DOUGHNUT CHART START*/
.doughnutChart {
  width: 80vmin;
  height: auto;
  padding: 6vmin;
}
/*DOUGHNUT CHART START*/

/*TEAM COMPONENT START*/

.teamBody {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 100%;
  font-size: 5vmin;
  background-color: lightgray;
  padding-top: 5vmin;
}

.profiles {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  margin-top: 5vmin;
}
.profileImg {
  width: 20vmin;
  border: solid black 3px;
}
.profileText {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 20vmin;
  font-size: 1.6vmin;
  font-family: monospace;
}
.profileImg-and-profileText {
  border: solid black 1px;
  padding: 1vmin;
  height: 50vmin;
}

/*TEAM COMPONENT END*/

/*NEWSFEED COMPONENT START*/

.newsFeedBody {
  margin: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #2f4f4f;
  padding-top: 5vmin;
  justify-content: space-evenly;
}


/* .card {
  margin-bottom: 100px;
  margin-left: 20px;
  }

.newsFeedArticle {
  border: 2px solid black;
  margin: 5px;
} 


.card-body,
.card-link,
.card-text {
  text-decoration: none;
  font-family: monospace;
  height: auto;
  color: white;
  background-color: #a9a9a9;
}


.card-title.h5 {
  border-bottom: 3px solid black;
  font-family: monospace;
} */

.articleImage {
  margin-left: 125px;
  margin-right: 125px;
  width: 20vw;
  height: 10vh;
}

/*NEWSFEED COMPONENT END*/
